APP_NAME=Zentify Demo App
PORT=3003
DATABASE_URL=postgres://postgres@localhost:5432/zentify

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=zentify
FRONTEND_TEST_API=http://example.com